<form class="login_form">

    <div>
       <label for="email">Email:</label>
       <input type="text" id="email_signup"> 
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" id="password_signup">
    </div>

    <div>
        <button type="submit">Login</button>
    </div>

    {{!-- Add JS File to signup --}}
    <script src="/public/js/login.js"></script>

</form>