<section>
    <h2>Create New Post</h2>

    <form class="new_post_form">

        <div>
            <label for="post_title">Title:</label>
            <input type="text"/>
        </div>

        <div>
            <label for="post_text">Text:</label>
            <textarea name="post-text"></textarea>
        </div>
        <button type="submit">Create Post</button>

    </form>
</section>

<script src="/public/js/add_post.js"></script>