<form class="signup_form">

    <div>
       <label for="username">Username:</label>
       <input type="text" id="username_signup"> 
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text" id="email_signup">
    </div>

    <div>
        <label for="password">Password:</label>
        <input type="text" id="password_signup">
    </div>

    <div>
        <button type="submit">Sign Up</button>
    </div>

    {{!-- Add JS File to signup --}}
    <script src="/public/js/signup.js"></script>



</form>